<header>
  <div class="tab-menu">
    <div [class.active]="currentTab == 'About Me'" (click)="selectTab('About Me')" routerLink="/aboutMe" > About Me </div>
    <div [class.active]="currentTab == 'Skill'" (click)="selectTab('Skill')" routerLink="/skill"> Skill </div>
    <div [class.active]="currentTab == 'Contact Me'" (click)="selectTab('Contact Me')" routerLink="/contactMe"> Contact Me
    </div>
    <div [class.active]="currentTab == 'Portfolio'" (click)="selectTab('Portfolio')" routerLink="/portfolio"> Portfolio
    </div>
  </div>
</header>
<body>
  <router-outlet></router-outlet>
</body>


